.auth__input {
    display: flex;
    width: 240px;
    height: 45px;
    border: 1px solid #B2B2B2;
    box-sizing: border-box;
}
.auth__input__filled{
    border: 1px solid #00B863;
}

.img-eye {
  margin:5px 7px 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
input {
  color: black;
  text-indent: 10px;
  width: 240px;
  height: 40px;
  font-family: 'Walsheim';
  font-size: 0.7rem;
  padding: 0 5px 0 0;
  border: none;
  background: transparent;
  outline: none;
}
